﻿@model dynamic

<h2>Administer data</h2>

<div id="manufacturers">
    <span>Manufacturers</span>
    <div>
        <select id="manufacturersList" data-bind="options: $root.manufacturersList, optionsText: 'name', value: $root.selectedManufacturer, event: { change: $root.onManufacturerSelected }"></select>
        <button id="addManufacturerButton" data-bind="click: $root.changeAdditionState.bind(true, event)">Add</button>
    </div>
    <div id="manufacturerAddSection" data-bind="visible: $root.isAddingManufacturer">
        <span>Add new manufacturer:</span>
        <input type="text" id="addManufacturerName" data-bind="textInput: $root.newManufacturerName" />
        <button id="saveNewManufacturer" data-bind="click: $root.saveNewManufacturer.bind('', event)">Save</button>
    </div>

    <hr />

    <span>Models</span>
    <div>
        <select id="currentModelsList" data-bind="options: $root.currentModelsList, optionsText: 'name', value: $root.selectedModel, event: { change: $root.onModelSelected }"></select>
        <button id="addModelButton" data-bind="click: $root.changeModelAdditionState.bind(true, event)">Add</button>
    </div>
    <div id="modelAddSection" data-bind="visible: $root.isAddingModel">
        <span>Add new model:</span>
        <input type="text" id="addModelName" data-bind="textInput: $root.newModelName" />
        <button id="saveNewModel" data-bind="click: $root.saveNewModel.bind('', event)">Save</button>
    </div>

    <hr />

    <span>Motor types</span>
    <div>
        <select id="currentMotorTypeList" data-bind="options: $root.currentMotorTypeList, optionsText: 'name'"></select>
        <button id="addMotorTypeButton" data-bind="click: $root.changeMotorTypeAdditionState.bind(true, event)">Add</button>
    </div>
    <div id="motorTypeAddSection" data-bind="visible: $root.isAddingMotorType">
        <span>Add new motor type:</span>
        <input type="text" id="addMotorTypeName" data-bind="textInput: $root.newMotorTypeName" />
        <button id="saveNewMotorType" data-bind="click: $root.saveNewMotorType.bind('', event)">Save</button>
    </div>

</div>

@section Scripts
{
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/manufacturers/manufacturers.js"></script>
}
